<div style="background-color:seashell;">

<!--w=350 h=300   w=250 h=200   w=300 h=250-->

<style>
      .image-container {
        text-align: center;
      }
</style>
<div class="image-container"> 
      <br><img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz4GU9lnFM0t96ezYoFnFQirfau8lzsfkGfBFtMuGvx60_MgQEbuklUndKPB_OtiR_tC0&usqp=CAU" width="400" height="150" >
</div>


<!--	<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz4GU9lnFM0t96ezYoFnFQirfau8lzsfkGfBFtMuGvx60_MgQEbuklUndKPB_OtiR_tC0&usqp=CAU" width="1100" height="200" align="middle" style="margin:50px;"> 		-->

<div style="font-family:Courgette; font-size:200%; text-align:center; ">Explore our New Arrivals Collection</div>

<img src = "https://media.istockphoto.com/id/1026529098/photo/a-beige-string-swing-with-a-pillow-on-a-patio-wicker-baskets-a-rug-and-a-blanket-on-a-wooden.webp?b=1&s=170667a&w=0&k=20&c=fbIPK-bJ2Ad57gC7NORNiyooT3Syqqot1IIy3MtCaVI=" width="300" height="250" style="margin:40px;">
<span><img src = "https://media.istockphoto.com/id/1422490572/photo/empty-bench-chair-and-swing-in-garden.webp?b=1&s=170667a&w=0&k=20&c=uj8cEwLhz7gerR-QvJvobthApgERj9oHt_xUGGoRCuY=" width="300" height="250" style="margin:40px;"></span>
<span> <img src = "https://media.istockphoto.com/id/1393273445/photo/grey-bag-chair-or-bean-armchair-at-home-in-living-room.jpg?s=612x612&w=0&k=20&c=9htp-NZfbcmlfPnP4mKL8T54MYs1HNrybZhCD7zTejE=" width="300" height="250" style="margin:40px;"></span> 
 <br> <br> <br>
 
<style>
      .img-container {
        text-align: center;
      }
</style>
<div class="img-container"> 
      <img src = "https://media.istockphoto.com/id/1249440381/vector/top-seller-banner-template-top-seller-ribbon-label-sign.jpg?s=612x612&w=0&k=20&c=714QudJcW7xoA91xpftBEORoFpYiCM4P1d1rHIP6n40=" width="400" height="150" >
</div> <br>

<img src = "https://media.istockphoto.com/id/1058683954/photo/office-chair-at-the-studying-desk.webp?b=1&s=170667a&w=0&k=20&c=Ca6-YO94IjiUF37bzrCsDjZZFGIZi872H1sBA4OQ2ig=" width="300" height="250" style="margin:40px;">
<span><img src = "https://media.istockphoto.com/id/1218412751/photo/shoe-rack-with-family-shoes.jpg?b=1&s=612x612&w=0&k=20&c=LvFsPA1Oa5fE2byT7J4-FFU-xSTzGv-Tp3WVenb6Cu0=" width="300" height="250" style="margin:40px;"></span>
<span> <img src = "https://media.istockphoto.com/id/1207897525/photo/bookshelf-in-hall-room-with-lamp-and-books.webp?b=1&s=170667a&w=0&k=20&c=n9_vgRogT0vYhqKZ-mtMLPOYqRS_d7mnozbzA7ObfYk=" width="300" height="250" style="margin:40px;"></span> 
<div style="font-family:Courgette; font-size:200%; text-align:center; ">Explore from some of out best selling collection</div>
<br> <br> <br>


</div>


<!-- best seller img- https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz2fmpY1r30K9WEgC_7Sl2h4COmSVuu7yJfMeHI4vVP_-xTNErNzISmHpqEKzguXvJHEU&usqp=CAU 

https://media.istockphoto.com/id/1249440381/vector/top-seller-banner-template-top-seller-ribbon-label-sign.jpg?s=612x612&w=0&k=20&c=714QudJcW7xoA91xpftBEORoFpYiCM4P1d1rHIP6n40=

https://media.istockphoto.com/id/1249440381/vector/top-seller-banner-template-top-seller-ribbon-label-sign.jpg?s=612x612&w=0&k=20&c=714QudJcW7xoA91xpftBEORoFpYiCM4P1d1rHIP6n40=

-->