<div style="background-color:seashell;">


<div style="font-family:MS UI Gothic; font-size:300%; text-align:center;">About us</div>

<div style="margin:30px;">   

<p style="font-size:130%;">With more than 50 years of experience in helping homeowners with interior design, we understand how important it is to find furniture that looks great, feels comfortable, and lasts a long time. Working with some of the most trusted brands in the industry, Interior Furniture Resources offers furniture that balances craftsmanship and value.</p> <br>

<p style="font-size:130%;">At Classic Furniture, we know how important it is to find the right pieces for your home. To us, the buying and designing experience is just as important as our selection. Our team serves customers in Pennsylvania, as well as parts of Maryland, Delaware, New Jersey, Virginia, and West Virginia. Find out more about our furniture store and the ways we can serve you best.</p> <br>

<p style="font-size:130%;">As your source for home furnishings, Interior Furniture Resources offers a selection that covers every area of your home. Our inventory includes pieces that coordinate with a variety of decor styles, such as traditional, cottage/country, rustic, and modern.</p> <br>

<p style="font-size:130%;">If you already have a room design in mind and need customized products, Interior Furniture Resources can assist with that, too. Your furniture plays a part in your home's aesthetic, as well as its functionality. We have several online tools designed to help you find what you need in the colors and fabrics you want.</p>

</div>

</div>