<html>
<body>
<div style="background-color:seashell;">
<style>
  .container{
    max-width:1200px;
    margin:auto;
    background:#FFF5EE;
    overflow:auto;
  }
  .galary{
    margin:20px;
    border:0px solid #ccc;
    float:left;
    width:250px;
  }

  .desc{
    padding:10px;
    text-align:left;
    background:#FFFFFF;
  }
</style>

<div style="font-family:Castellar; font-size:300%; text-align:center; text-decoration:underline;">Dining Tables</div>

<div class="container">
  <div class="galary">
    <img src="https://images.unsplash.com/photo-1636138389529-d35a2a348dc1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGRpbmluZyUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" width="250" height="200">
    <div class="desc"> Wooden Dining Table <br> <font size="1">Pure Wooden Dining Table with a polished surface</font>
    </div>
  </div>
  <div class="galary">
    <img src="https://media.istockphoto.com/id/1316508825/photo/3d-rendering-of-a-dining-table-design.jpg?b=1&s=170667a&w=0&k=20&c=1N2UTXQcrazYcyJG0zwdf74r9wHChWG9yIfSJKmJiPQ=" width="250" height="200">
    <div class="desc">Glass Dining Table 
    </div>
  </div>
  <div class="galary">
    <img src="https://media.istockphoto.com/id/1332708638/photo/close-up-of-a-small-table-and-four-chairs-in-an-eat-in-kitchen-with-a-tile-floor.jpg?b=1&s=170667a&w=0&k=20&c=CWdzJwcazqqqTiDjDAXyYVZJjjm89oob1Ke7KnWAft8=" width="250" height="200">
    <div class="desc">Round Dining Table
    </div>
  </div>
  <div class="galary">
    <img src="https://media.istockphoto.com/id/1324177449/photo/modern-luxury-dining-room-interior-design-with-black-marble-dinnder-table-and-chandelier-3d.jpg?s=612x612&w=0&k=20&c=SY7Rhgn-roShmcHRmeFVvMRMAetl79I1X5HxzvXjVH4=" width="250" height="200">
    <div class="desc">Marble Top Dining Table 
    </div>
  </div>
</div>

<div style="font-family:Castellar; font-size:300%; text-align:center; text-decoration:underline;">Wardrobes</div>

<div class="container">
  <div class="galary">
    <img src="https://media.istockphoto.com/id/1088802544/photo/wardrobe-sliding-doors.jpg?b=1&s=170667a&w=0&k=20&c=ifEpQt6kRG_U79SloFnS2sw_6gO3VkIUpoeFsWXQVAk=" width="250" height="200">
    <div class="desc"> Dining Table 
    </div>
  </div>
  <div class="galary">
    <img src="https://media.istockphoto.com/id/1349227954/photo/wardrobes-with-hinged-doors-on-white-door-hinges-in-the-apartment.jpg?s=612x612&w=0&k=20&c=etE6MyULdqPsLAhwVd-jUCN84DLU0g1-gE0wgs8pGkA=" width="250" height="200">
    <div class="desc">A wide range 
    </div>
  </div>
  <div class="galary">
    <img src="https://media.istockphoto.com/id/1357529827/photo/dressing-table-with-two-wardrobe-closets-in-the-bedroom-in-3d-render.jpg?b=1&s=170667a&w=0&k=20&c=aNjFh0Q-EhVlP-GfCucHULC9sBGHNFqONg2kQYQqk_s=" width="250" height="200">
    <div class="desc">A wide range 
    </div>
  </div>
  <div class="galary">
    <img src="https://media.istockphoto.com/id/1186389076/photo/3d-render-of-fashion-shop-walk-in-closet.jpg?s=612x612&w=0&k=20&c=qqHTNq7chl1LvB2JkO7ozPYkLVp_wMFyS7qLB1GutGc=" width="250" height="200">
    <div class="desc">A wide range 
    </div>
  </div>
</div>

<div style="font-family:Castellar; font-size:300%; text-align:center; text-decoration:underline;">Sofas</div>

<div class="container">
  <div class="galary">
    <img src="https://media.istockphoto.com/id/97495668/photo/sofa.jpg?s=612x612&w=0&k=20&c=U1-e3gEY_k0Xvp8ZKpnrLhSApgKYCWo3xfLRCNzTD8o=" width="250" height="200">
    <div class="desc"> Dining Table 
    </div>
  </div>
  <div class="galary">
    <img src="https://media.istockphoto.com/id/519467072/photo/l-shaped-sofa.jpg?s=612x612&w=0&k=20&c=qHMqHflt9ixfW9xTF6g_h7NhfBcReNS1SdRx0UGWQmQ=" width="250" height="200">
    <div class="desc">A wide range 
    </div>
  </div>
  <div class="galary">
    <img src="https://media.istockphoto.com/id/517418642/photo/3d-rendering-curve-smooth-colorful-sofa-in-living-zone.jpg?s=612x612&w=0&k=20&c=XTimyTipBsNkQUgT2VZS3IFaXItNwM338vWvJp-Dk1A=" width="250" height="200">
    <div class="desc">A wide range 
    </div>
  </div>
  <div class="galary">
    <img src="https://media.istockphoto.com/id/1303009517/photo/brown-sofa-in-living-room-with-free-space-loft-style-3d-rendering.jpg?s=612x612&w=0&k=20&c=d94hB9lZkqnJ0EJ9v0NCBPub3kkYqlmQ4yvBmOoXG-U=" width="250" height="200">
    <div class="desc">A wide range 
    </div>
  </div>
</div>

<div style="font-family:Castellar; font-size:300%; text-align:center; text-decoration:underline;">Beds</div>

<div class="container">
  <div class="galary">
    <img src="https://media.istockphoto.com/id/135936319/photo/furniture.jpg?s=612x612&w=0&k=20&c=C870U44HsiE_in-W093yg6raaA6cClePie4syuhvbc8=" width="250" height="200">
    <div class="desc"> Dining Table 
    </div>
  </div>
  <div class="galary">
    <img src="https://media.istockphoto.com/id/1338453837/photo/light-and-cozy-modern-hotel-room-with-comfortable-king-size-bed-large-window-and-blue.jpg?s=612x612&w=0&k=20&c=HPy0180Pyc0PHAyq2zJ8Zw8_SYIwklrItK5rujDuL1Y=" width="250" height="200">
    <div class="desc">A wide range 
    </div>
  </div>
  <div class="galary">
    <img src="https://media.istockphoto.com/id/168591699/photo/contemporary-double-bed.jpg?s=612x612&w=0&k=20&c=_gijNEsKqvxwpfbchzOoOQq0XewQqVW4sSyBAEMxwqA=" width="250" height="200">
    <div class="desc">A wide range 
    </div>
  </div>
  <div class="galary">
    <img src="https://media.istockphoto.com/id/648656476/photo/clean-hostel-room-with-wooden-bunk-beds.jpg?b=1&s=170667a&w=0&k=20&c=pzgp-BAJO1vjUAo_KlDT_4W4aO4P0WXsmUEYk39EQrs=" width="250" height="200">
    <div class="desc">A wide range 
    </div>
  </div>
</div>

</div>
</body>
</html>