<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Furniture</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body style="background-color:seashell;">
  

                <!--HOME COMPONENT-->

  <br>
  <div style="font-family:Berlin Sans FB Demi; font-size:500%; text-align:center;">
   Furniture For You <br> And Your Family    
</div> <br> 

<img src = "https://cdn.shopify.com/s/files/1/2660/5202/files/living-room-landing-page-new-hero.png?v=1579798591" width="1150" height="500" style="margin:30px;"> 
 <br> <br> <br>
 <div style="font-family:Courgette; font-size:200%; text-align:center; text-decoration:underline;">"Furniture must have personality, as well as be beautiful."</div>
 <div style="font-family:Courgette; font-size:200%; text-align:center; text-decoration:underline;">-Rose Tarlow</div>    <br> <br> <br> 

  <!-- <img src = "https://images.unsplash.com/photo-1555041469-a586c61ea9bc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZnVybml0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" width="500" height="300" style="margin:30px;"> -->
   

  <span> <!-- <img src = "https://images.unsplash.com/photo-1592078615290-033ee584e267?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZnVybml0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" width="400" height="400"> -->

<span> <!--  <img src = "https://images.unsplash.com/photo-1617806118233-18e1de247200?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8a2p0RVdtZXU3T3d8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60" width="50%" style="margin:30px;">  -->
  <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqakpjyWWBjBt9aXXU-hKlwfgwvLdD37iD7A&usqp=CAU" width="500" height="300" style="margin:50px;"> 
  <img src = "https://images.pexels.com/photos/11038192/pexels-photo-11038192.jpeg?auto=compress&cs=tinysrgb&w=600" width="500" height="300" style="margin:50px;">
</span> 
<div style="font-family:Courgette; font-size:150%; text-align:center; ">Special deals on dining tables and beds today! Shop now to grab them!</div> <br> <br> <br>
<div style="font-family:Courgette; font-size:150%; text-align:center; ">Browse through a wide variety of different types of furnitures. Shop as per your needs and likes while going through our range of Sofa Sets, Dining Tables, Beds, Home Decour and much more.</div>
<br> <br> <br>

<!-- <img src = "https://images.unsplash.com/photo-1513506003901-1e6a229e2d15?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGZ1cm5pdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" width="400" height="250"> -->

</span> 

<!--</span> -->
</body>
</html>
