<html>
<body style="background-color:seashell;">
  
  <br>
  <div style="font-family:Berlin Sans FB Demi; font-size:500%; text-align:center;">
   Furniture For You <br> And Your Family    
</div> <br> 

<img src = "https://cdn.shopify.com/s/files/1/2660/5202/files/living-room-landing-page-new-hero.png?v=1579798591" width="1150" height="500" style="margin:30px;"> 
 <br> <br> <br>
 <div style="font-family:Courgette; font-size:200%; text-align:center; text-decoration:underline;">"Furniture must have personality, as well as be beautiful."</div>
 <div style="font-family:Courgette; font-size:200%; text-align:center; text-decoration:underline;">-Rose Tarlow</div>    <br> <br> <br> 

 <span>
<style>
  .container{
    max-width:1200px;
    margin:auto;
    background:#FFF5EE;
    overflow:auto;
  }
  .galary{
    margin:60px;
    border:0px solid #ccc;
    float:left;
    width:450px;
  }

  .desc{
    padding:20px;
    text-align:center;
    background:#FFFFFF;
  }
</style>

<div class="container">
  <div class="galary">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqakpjyWWBjBt9aXXU-hKlwfgwvLdD37iD7A&usqp=CAU" width="449">
    <div class="desc"> Dining Table range starting from ₹5,000.<br> Get customized furnishing!
    </div>
  </div>
  <div class="galary">
    <img src="https://images.pexels.com/photos/11038192/pexels-photo-11038192.jpeg?auto=compress&cs=tinysrgb&w=600" width="449">
    <div class="desc">A wide range of Beds from Double to Bunk beds starting from ₹25,000. Check now!
    </div>
  </div>
</div>

<div style="font-family:Courgette; font-size:150%; text-align:center; ">Special deals on dining tables and beds today! Shop now to grab them!</div> <br> <br> <br>
<div style="font-family:Courgette; font-size:150%; text-align:center; ">Browse through a wide variety of different types of furnitures. Shop as per your needs and likes while going through our range of Sofa Sets, Dining Tables, Beds, Home Decour and much more.</div>
<br> <br> <br>

</span> 

<!--</span> -->

</body>
</html>
